<div class="card">
  <span id="jobcard"> <%= render "visits/visit", visit: boardvisit %> </span>
  <p>
    <%= link_to "Show this visit", boardvisit %>
    <div>
      <strong>DEVELOPER:</strong>
      <div>
        visit.id: <%= boardvisit.id %>
      </div>
      <div>
        associated users: <span id="assocaited-users"><%= boardvisit.user_visits.count %></span>
      </div>
      <div>
        customer_id: <%= boardvisit.customer_id %>
      </div>
    </div>
  </p>
  <%# job buttons %>
  <% if User.find(current_user.id).visits.include? boardvisit %>
      <%= form_with(model: boardvisit.user_visits.find_by(user_id: current_user.id), local: false, method: :delete) do |f| %>
        <%= f.hidden_field :visit, value: boardvisit %>
        <div>
        </div>
        <%= f.submit "Leave Job", class: "job-button-leave" %>
      <% end %>
    <% elsif boardvisit.user_visits.count < boardvisit.scheduled_dudes %>
        <%= form_with(model: boardvisit.user_visits.build, local: false) do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :visit_id, value: boardvisit.id %>
          <div>
          </div>
          <%= f.submit "Join Job", class: "job-button-join" %>
        <% end %>
    <% else %>
      <div class="job-button-full">
        <p>Job Full</p>
      </div>
    <% end %>
</div>