<div class="card">
    <span id="jobcard"> <%= render "visits/visit", visit: schedulevisit %> </span>

    <% if schedulevisit.time_entries.find_by(user_id: current_user.id) %>
        <p>Time entry exists!</p>
    <% end %>
    
    <%= form_with(model: schedulevisit.time_entries.build, local: false) do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :visit_id, value: schedulevisit.id %>
          <%= f.hidden_field :start_time, value: Time.new %>
          <div>
          </div>
          <%= f.submit "Start Timer", class: "job-button-timer-start" %>
    <% end %>

</div>
