<div id="<%= dom_id visit %>">
  <p>
    <strong>Status:</strong>
    <%= visit.status %>
  </p>

  <p>
    <strong>Scheduled date:</strong>
    <%= visit.scheduled_date %>
  </p>

  <p>
    <strong>Scheduled start:</strong>
    <%= visit.scheduled_start %>
  </p>

  <p>
    <strong>Scheduled end:</strong>
    <%= visit.scheduled_end %>
  </p>

  <p>
    <strong>Scheduled dudes:</strong>
    <%= visit.scheduled_dudes %>
  </p>

</div>
