<div id="<%= dom_id visit %>">
  <p>
    <strong>Scheduled date:</strong>
    <%= visit.scheduled_date %>
  </p>

  <p>
    <strong>Scheduled start:</strong>
    <%= visit.scheduled_start %>
  </p>

  <p>
    <strong>Scheduled end:</strong>
    <%= visit.scheduled_end %>
  </p>

  <p>
    <strong>Scheduled dudes:</strong>
    <%= visit.scheduled_dudes %>
  </p>

  <p>
    <strong>Todos:</strong>
    <% visit.todos.each do |todo| %>
      <%= todo.content %>
    <% end %>
  </p>
  
  <p>
    <strong>Team:</strong>
    <% visit.user_visits.each do |team_member| %>
      <%= User.find(team_member.user_id).email %>
    <% end %>
  </p>

</div>
