<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Job Board</h1>

  <div id="visits">
    <% @visits.each do |visit| %>
        <div class="card">
          <%= render visit %>
          <p>
            <%= link_to "Show this visit", visit %>
            <div>
              DEVELOPER:
              <div>
                visit.id: <%= visit.id %>
              </div>
              <div>
                associated users: <%= visit.user_visits.count %>
              </div>
              <div>
                customer_id: <%= visit.customer_id %>
              </div>
            </div>
          </p>
          <% if visit.user_visits.count < visit.scheduled_dudes %>
            <%# <div class="job-button-join"> %>
              <%# <%= link_to "Join Job", visit %>
              <%= form_with(model: visit.user_visits.build, remote: true) do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :visit_id, value: visit.id %>
                <div>
                  <%# <%= hidden_field_tag :visit_id, visit.id %>
                </div>
                <%= f.submit "Join Job", class: "job-button-join" %>
              <% end %>
            <%# </div> %>
          <% else %>
            <div class="job-button-full">
              <p>Job Full</p>
            </div>
          <% end %>
          <%= link_to "Test", visit %>
        </div>
    <% end %>
  </div>

  <%= link_to "Home", root_path %>
</div>

