<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Job Board</h1>

  <div id="visits">
    <% @visits.each do |visit| %>
        <div class="card">
          <span id="jobcard"> <%= render visit %> </span>
          <p>
            <%= link_to "Show this visit", visit %>
            <div>
              DEVELOPER:
              <div>
                visit.id: <%= visit.id %>
              </div>
              <div>
                associated users: <span id="assocaited-users"><%= visit.user_visits.count %></span>
              </div>
              <div>
                customer_id: <%= visit.customer_id %>
              </div>
            </div>
          </p>
          <%# job buttons %>
          <% if visit.user_visits.count < visit.scheduled_dudes %>
              <%= form_with(model: visit.user_visits.build, local: false) do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :visit_id, value: visit.id %>
                <div>
                </div>
                <%= f.submit "Join Job", class: "job-button-join" %>
              <% end %>
          <% else %>
            <div class="job-button-full">
              <p>Job Full</p>
            </div>
          <% end %>
          <%= link_to "Test", visit %>
        </div>
    <% end %>
  </div>

  <%= link_to "Home", root_path %>
</div>

