<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Job Board</h1>

  <div id="visits">
    <% @visits.each do |visit| %>
        <div class="card">
          <%= render visit %>
          <p>
            <%= link_to "Show this visit", visit %>
          </p>
          <% if visit.user_visits.count < visit.scheduled_dudes %>
            <div class="job-button-join">
              <%= link_to "Join Job", visit %>
            </div>
          <% else %>
            <div class="job-button-full">
              <p>Job Full</p>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>

  <%= link_to "New visit", new_visit_path %>
</div>

