<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Personal Schedule</h1>

  <div id="visits">
    <% @visits.each do |visit| %>
        <div class="card">
          <%= render visit %>
          <p>
            <%= link_to "Show this visit", visit %>
          </p>
          <%= link_to "Test", visit %>
        </div>
    <% end %>
  </div>

  <%= link_to "Home", root_path %>
</div>

